@use "@/styles/abstracts" as *;

.related {
  &__title {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em;

    @include media("md") {
      margin-bottom: 24px;
      font-size: fluid(28px, 40px);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;

    @include media("xl") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media("sm") {
      grid-template-columns: 1fr;
    }
  }
}
