<article class="project-card">
  <img class="project-card__img" src="/src/assets/img/projects/project-1.webp" width="380" height="203" alt="Alustruct Residence" loading="lazy" />
  <div class="project-card__body">
    <h3 class="project-card__title">Alustruct Residence</h3>
    <div class="project-card__info">
      <p class="project-card__label">Решение:</p>
      <p class="project-card__text">Мы разработали комплексный фасадный стиль на основе алюминиевых панелей и кубических реек ALUSTRACT, создали 3D-визуализации, подготовили каталог материалов и технический пакет для архитекторов.</p>
    </div>
  </div>
  <a class="btn btn--white project-card__btn" href="/project.html">Подробнее</a>
</article>
