@use "@/styles/abstracts" as *;

.product {
  &__inner {
    display: grid;
    grid-template-columns: 553px 1fr;
    gap: 20px 10px;
    align-items: start;

    @include media("xl") {
      grid-template-columns: 1fr 1fr;
    }
    @include media("lg") {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }

  &__gallery {
    min-width: 0;
  }

  &__slider {
    overflow: hidden;
    border-radius: 10px;
  }

  &__img {
    width: 100%;
    height: auto;
    aspect-ratio: 553 / 411;
    object-fit: cover;
  }

  // точки под фото
  &__dots {
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: center;
    margin-top: 14px;

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      padding: 0;
      border-radius: 50%;
      background-color: #e5daf3;
      cursor: pointer;
      transition: $transition;

      &-active {
        background-color: $primary;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__tag {
    padding: 8px 14px;
    border-radius: 6px;
    background-color: rgba($accent, 0.4);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em;

    @include media("md") {
      font-size: fluid(26px, 40px);
    }
  }

  &__subtitle {
    max-width: 560px;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: $violet;

    @include media("md") {
      font-size: 18px;
    }
  }

  &__heading {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  &__specs {
    display: flex;
    flex-direction: column;
    margin: -10px 0 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 1.5;
  }

  &__btn {
    width: 328px;
    max-width: 100%;

    @include media("sm") {
      width: 100%;
    }
  }
}
